services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=cloudformation,lambda,apigateway,iam,sts,s3,cloudfront,dynamodb,logs
      - DEBUG=0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
